::placeholder {
  color: gray;
}

.clsss-class {
  font-size: 10px;
  @util margin(10px 20px 30px null);
}

.child {
  @util center;
}

:root {
  --toolbar-theme: {
    background-color: rebeccapurple;
    color: white;
    border: 1px solid green;
  }
}

.Toolbar {
  @apply --toolbar-theme;
}
